*.class
*.log
.DS_Store
*.sublime-project
*.sublime-workspace

# sbt specific
.cache
.history
#.lib/
#dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# compiler stuff
*.cache

# idea project
.idea/
